# .NET
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Python (for the .venv folder)
.venv/
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db
